body{
    background-color:white;
    font-family:sans-serif
}


#firstName{
    font-size: 150%;
    color: #F4D35E;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 15%;
}

#secondName{
    font-size: 150%;
    color: #F4D35E;
    text-align: center;
    letter-spacing: 3px;
    margin-top: -40px;
    
    
}

#info{  
    color: white;
    text-align: center;
    font-variant-caps: petite-caps;
    
}

#navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}








